package-db: /Users/esposito/Sites/yosog/cabal-dev/packages-7.6.3.conf
local-repo: /Users/esposito/Sites/yosog/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /Users/esposito/.cabal/packages
world-file: /Users/esposito/.cabal/world
build-summary: /Users/esposito/Sites/yosog/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /Users/esposito/Sites/yosog/cabal-dev/
  libsubdir: $pkgid/$compiler
  libexecdir: $prefix/libexec
  docdir: $datadir/doc/$pkgid
install-dirs global
  prefix: /Users/esposito/Sites/yosog/cabal-dev/
  libdir: $prefix/lib
  libsubdir: $pkgid/$compiler
  docdir: $datadir/doc/$pkgid